@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga' 0, 'calt' 0;
	font-variant-ligatures: none;
	font-variant-caps: normal;
}

.focus-ring:focus-visible {
	outline-offset: 2px;
	outline: 2px solid #000000;
	outline-style: auto;
	outline-color: #000000;
}
